In [1]:
import pandas as pd

In [2]:
pd.read_csv("empty_fs1kHz.csv")

      0.0721729415888439
0               0.217616
1              -0.180643
2               0.136119
3               0.079429
4              -0.092243
...                  ...
9994            0.035868
9995            0.009327
9996            0.151148
9997            0.081203
9998            0.010289

[9999 rows x 1 columns]